.right-actions .btn {
    background-color: #007ae1;
    border: none;
    padding: .5rem 1rem;
}
  
.right-actions .btn span {
    text-transform: uppercase;
    font-size: .9rem;
    margin: 0 2rem;
}