/***************** CUSTOM **************************/
.fade-enter {
	opacity: 0.01;
	left: 30px;
}

.fade-enter-active {
	opacity: 1;
	left: 0;
  	transition: all 300ms ease-in-out;
}
  
.fade-exit {
	opacity: 1;
	top: 0;
}

.fade-exit-active {
	opacity: 0.01;
	top: 30px;
  	transition: all 300ms ease-in-out;
}

.mini-nav-btn,
.onoffcanvas-toggler {
	cursor: pointer;
}

.app-wrap {
	opacity: 0;
	transition: all 600ms ease-in-out;
}

.app-container {
    min-height: 90vh;
}

.payment-request .monthly-avg {
    padding: 2rem .3rem;
}

.payment-request .monthly-avg h6 {
    margin: 15px 20px 10px 20px;
}

.right-actions .btn.btn-primary {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.card-single-website {
	margin: 1rem 0 3rem;
	
	&:last-of-type {
		margin-bottom: 1rem;
	}
}

.card-single-website .input-group:first-of-type {
	margin-bottom: 15px;
}

.monero-amount {
	margin-bottom: 0;
}

.monthly-avg h6 {
    margin: 15px 20px 20px 20px;
}

.monthly-avg .avg-block {
    margin-bottom: 20px;
}

.avg-total {
	margin-bottom: 0;
}

.overview .btn:focus {
	box-shadow: none;
	color: #007ae1;
}

.btn {
	box-shadow: none !important;
}

.right-actions {
	.btn {
		&:focus {
			color: white;
		}
	}
}

.btn-sep {
	margin-left: 8px;
	margin-right: 8px;
}

.form-control {
	line-height: 1.5rem;
}

.general-table {
	thead {
		tr {
			th:nth-of-type(2),
			th:nth-of-type(3) {
				text-align: right;
			}
		}
	}
	tbody {
		tr {
			td:first-of-type,
			td:nth-of-type(2) {
				text-align: right;
			}
		}
	}
}

.withdrawals-history {
	thead {
		tr {
			th:nth-of-type(2) {
				text-align: right;
			}
		}
	}
	tbody {
		tr {
			td:nth-of-type(2) {
				text-align: right;
			}
		}
	}
}

.add-website-card {
	.input-group {
		margin-bottom: .5rem;
	}
}

.input-error {
    font-family: Open Sans, sans-serif;
    font-size: 11px;
    position: absolute;
    bottom: -10px;
    left: 21px;
}

.password-group,
.change-monero-group {
	margin-bottom: 1rem;
}

.form-password-group {
	margin-bottom: 0;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); opacity: 1; }
    50% { -webkit-transform: scale(0.9); opacity: 0.7; }
    100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(0.9); opacity: 0.7; }
    100% { transform: scale(1); opacity: 1; }
}

.prile-loader {
	&.active {
		display: flex !important;
		opacity: 0;
		width: 100%;
		height: 100vh;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		transition: opacity 600ms ease-in-out;

		&.visible {
			opacity: 1;

			&.animation {
				-webkit-animation: pulse 2s infinite ease-in-out;
				-o-animation: pulse 2s infinite ease-in-out;
				-ms-animation: pulse 2s infinite ease-in-out; 
				-moz-animation: pulse 2s infinite ease-in-out; 
				animation: pulse 2s infinite ease-in-out;
			}
		}
	}
}

.payment-request-btn {
	border-radius: 40px;

	span {
		margin: 0 1.5rem;
	}
}

.right-actions button.btn.payment-request-btn {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1) !important;
}

.payment-request-icon {
	width: 16px;
    height: 20px;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

.modal-footer {
	.btn {
		border-radius: 40px;
		font-size: 15px;
		padding: .5rem 1.25rem;
	}
}

.overview {
	.btn-block {
		border: none;
		color: #444;
		position: relative;

		&:hover {
			color: white;
		}

		&:after {
			position: absolute;
			content: "";
			left: -1px;
			top: 6px;
			border-left: 11px solid transparent;
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
			z-index: 1000;
		}

		&.active {
			&:after {
				border-left: 11px solid white;
			}
		}
	}
}

.graph-buttons {
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    background: transparent;
	border-radius: 20px;
	
	.btn {
		padding: .6rem 1rem;
    	text-transform: uppercase;
		font-size: 12px;
		
		&:first-child {
			border-top-left-radius: 20px;
    		border-bottom-left-radius: 20px;
		}

		&:last-child {
			border-top-right-radius: 20px;
    		border-bottom-right-radius: 20px;
		}
	}
}

.input-group {
	input {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
		
	.input-group-btn {
		.btn {
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			font-size: 15px;
			padding: .45rem 1rem .45rem .75rem;
			box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1) !important;
		}
	}
}

.input-group-btn {
	.btn-sep {
		padding: .45rem .75rem .45rem .75rem;
		font-size: 15px;
		border-radius: 40px;
		box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1) !important;
	}
}

.single-input,
.email-group input {
	border-radius: 40px;
}

.input-group-addon {
    padding: 0.6rem .75rem .6rem 1rem;
    width: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
}

.table.general-table th,
.table.general-table td {
    border: none;
}

.overview-table-card {
	.card-body {
		padding: 0;
		padding-left: .5rem;
	}
}

.sites-buttons {
	flex: 1;
	padding: 1.65rem 0;
    border-left: 1px solid #ebedf5;
}